<div class="container_user">
    <div class="row">
        <ul class="list-inline">
            <li class="list-inline-item">
                <img src="https://us.123rf.com/450wm/thesomeday123/thesomeday1231712/thesomeday123171200009/91087331-icono-de-perfil-de-avatar-predeterminado-para-hombre-marcador-de-posici%C3%B3n-de-foto-gris-vector-de-ilu.jpg"
                    alt="profile picture" class=" rounded-circle img-fluid " width="35" height="35">
            </li><br>
            <li class="list-inline-item">
                <label for="">{{user.name}}</label>
            </li>
            <br>
            <li class="list-inline-item">
                <label for=""><a type="button" (click)="logout()" href="/home"> Logout</a></label>
            </li>
        </ul>
    </div>
</div>